<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"storefront-hero","area":"general"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"32px","bottom":"96px","left":"32px","right":"32px"}}},"layout":{"type":"constrained","contentSize":"1400px"}} -->
<main class="wp-block-group">
  <!-- wp:shortcode -->
  [omnify_storefront]
  <!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
